.close-btn {
  width: auto;
  height: auto;
  margin: 20px !important;
}

i {
  width: auto;
  height: auto;
  /* margin: 20px; */
}
i:hover {
  color: #f44336;
  cursor: pointer;
}
.icon-holder {
  padding: 10px;
}
