@import './_imports/_variables';
@import './_imports/_colors';

.card {
  box-shadow: $box-shadow-card;
  border-radius: $border-radius-small;
}
.card:focus {
  box-shadow: $box-shadow-float-hover;
}

.tile,
.card {
  padding: $space-med;
  background: white;
  margin: 5px;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}
