$off-white: #eeffff;
$fading-white: #d9f5dd;
$white: #ffffff;
// Greys
$grey: #bfc7d5;
$sweet-grey: #b2ccd6;
$cool-grey: #546e7a;
$cool-grey: #dddddd;
$awesome-grey: #bec5d4;
$one-grey: #cdd3de;
// Blacks
$off-black: #020e14;
$light-black: #424242;
// Blues
$light-blue: #8eace3;
$sea-blue: #89ddff;
$cool-blue: #82aaff;
$lighter-blue: #78ccf0;
$sweet-blue: #82b1ff;
$fading-blue: #7986e7;
// Reds
$lighter-red: #ff5874;
$light-red: #ff5370;
$awesome-red: #f77669;
// Yellows
$dark-yellow: #ffcb6b;
$sweet-yellow: #fad430;
$light-yellow: #f1e655;
$lighter-yellow: #ffeb95;
$darker-yellow: #ffcf1b;
$slight-yellow: #ffcb8b;
// Greens
$light-green: #a9c77d;
$cool-green: #80cbc4;
$dark-green: #8bd649;
$lighter-green: #c3e88d;
// Others
$purple: #c792ea;
$light-orange: #f78c6c;
$winish: #d3423e;
$brownish: #ec5f67;
$awesome: #1e3445;
$so-awesome: #91b6c4;
